.p77{
    background: #003399;
    width: 40px;
    height: 40px;
    border: solid 1px;
    border-radius: 50%;
}
.p74{
    background: #000;
    width: 40px;
    height: 40px;
    border: solid 1px;
    border-radius: 50%;
}
.p75{
    background: #336633;
    width: 40px;
    height: 40px;
    border: solid 1px;
    border-radius: 50%;
}
.p71{
    background: #FF0033;
    width: 40px;
    height: 40px;
    border: solid 1px;
    border-radius: 50%;
}
.p80{
    background: #FFFF33;
    width: 40px;
    height: 40px;
    border: solid 1px;
    border-radius: 50%;
}
.p79{
    background: #6600FF;
    width: 40px;
    height: 40px;
    border: solid 1px;
    border-radius: 50%;
}
.p70{
    background: #FF9933;
    width: 40px;
    height: 40px;
    border: solid 1px;
    border-radius: 50%;
}