.t19{
    background: #DBD8D0;
    width: 40px;
    height: 40px;
    border: tolid 1px;
    border-radiut: 50%;
}
.t5{
    background: #9C8F79;
    width: 40px;
    height: 40px;
    border: tolid 1px;
    border-radiut: 50%;
}
.t26{
    background: #9C8F79;
    width: 40px;
    height: 40px;
    border: tolid 1px;
    border-radiut: 50%;
}
.t6{
    background: #C1BEA2;
    width: 40px;
    height: 40px;
    border: tolid 1px;
    border-radiut: 50%;
}
.t7{
    background: #E5B77F;
    width: 40px;
    height: 40px;
    border: tolid 1px;
    border-radiut: 50%;
}
.t27{
    background: #E3D1BF;
    width: 40px;
    height: 40px;
    border: tolid 1px;
    border-radiut: 50%;
}
.t8{
    background: #E3D1BF;
    width: 40px;
    height: 40px;
    border: tolid 1px;
    border-radiut: 50%;
}
.t31{
    background: #E48286;
    width: 40px;
    height: 40px;
    border: tolid 1px;
    border-radiut: 50%;
}
.t9{
    background: #E48286;
    width: 40px;
    height: 40px;
    border: tolid 1px;
    border-radiut: 50%;
}
.t32{
    background: #7AAE7C;
    width: 40px;
    height: 40px;
    border: tolid 1px;
    border-radiut: 50%;
}
.t33{
    background: #E0EBCF;
    width: 40px;
    height: 40px;
    border: tolid 1px;
    border-radiut: 50%;
}
.t66{
    background: rgb(158, 193, 91);
    width: 40px;
    height: 40px;
    border: tolid 1px;
    border-radiut: 50%;
}
.t29{
    background: #EABDA3;
    width: 40px;
    height: 40px;
    border: tolid 1px;
    border-radiut: 50%;
}
.t320{
    background: rgb(202, 82, 67);
    width: 40px;
    height: 40px;
    border: tolid 1px;
    border-radiut: 50%;
}
.t323{
    background: rgb(113, 87, 77);
    width: 40px;
    height: 40px;
    border: tolid 1px;
    border-radiut: 50%;
}
.t321{
    background: rgb(105, 128, 177);
    width: 40px;
    height: 40px;
    border: tolid 1px;
    border-radiut: 50%;
}
.t324{
    background: rgb(172, 105, 87);
    width: 40px;
    height: 40px;
    border: tolid 1px;
    border-radiut: 50%;
}
.t326{
    background: rgb(97, 202, 161);
    width: 40px;
    height: 40px;
    border: tolid 1px;
    border-radiut: 50%;
}
.t322{
    background: rgb(178, 192, 150);
    width: 40px;
    height: 40px;
    border: tolid 1px;
    border-radiut: 50%;
}
.t17{
    background: #B7AFA4;
    width: 40px;
    height: 40px;
    border: tolid 1px;
    border-radiut: 50%;
}
.t98{
    background:rgb(24, 109, 158);
    width: 40px;
    height: 40px;
    border: tolid 1px;
    border-radiut: 50%;
}
.t83{
    background:#826A5C;
    width: 40px;
    height: 40px;
    border: tolid 1px;
    border-radiut: 50%;
}
.t30{
    background: #C1669D;
    width: 40px;
    height: 40px;
    border: tolid 1px;
    border-radiut: 50%;
}
.t11{
    background: #DCCBB5;
    width: 40px;
    height: 40px;
    border: tolid 1px;
    border-radiut: 50%;
}
.t34{
    background: #B33E3C;
    width: 40px;
    height: 40px;
    border: tolid 1px;
    border-radiut: 50%;
}
.t25{
    background: #7A7A79;
    width: 40px;
    height: 40px;
    border: tolid 1px;
    border-radiut: 50%;
}
.t20{
    background: #E8EAE9;
    width: 40px;
    height: 40px;
    border: tolid 1px;
    border-radiut: 50%;
}
.t2{
    background: #106086;
    width: 40px;
    height: 40px;
    border: tolid 1px;
    border-radiut: 50%;
}
.t14{
    background: #B7D2E2;
    width: 40px;
    height: 40px;
    border: tolid 1px;
    border-radiut: 50%;
}
.t12{
    background: #CEC5B6;
    width: 40px;
    height: 40px;
    border: tolid 1px;
    border-radiut: 50%;
}
.t16{
    background: #F6D8B8;
    width: 40px;
    height: 40px;
    border: tolid 1px;
    border-radiut: 50%;
}
.t10{
    background: #CBCCCB;
    width: 40px;
    height: 40px;
    border: tolid 1px;
    border-radiut: 50%;
}
.t97{
    background: rgb(178, 192, 150);
    width: 40px;
    height: 40px;
    border: tolid 1px;
    border-radiut: 50%;
}
.avelos{
    background: rgb(171, 192, 170);
    width: 40px;
    height: 40px;
    border: tolid 1px;
    border-radiut: 50%;
}
.t67{
    background: rgb(81, 150, 76);
    width: 40px;
    height: 40px;
    border: tolid 1px;
    border-radiut: 50%;
}
.t85{
    background: rgb(200, 145, 62);
    width: 40px;
    height: 40px;
    border: tolid 1px;
    border-radiut: 50%;
}
.t86{
    background: rgb(252, 183, 66);
    width: 40px;
    height: 40px;
    border: tolid 1px;
    border-radiut: 50%;
}
.caranguejo{
    background: rgb(220, 104, 71);
    width: 40px;
    height: 40px;
    border: tolid 1px;
    border-radiut: 50%;
}
.t301{
    background: rgb(193, 80, 75);
    width: 40px;
    height: 40px;
    border: tolid 1px;
    border-radiut: 50%;
}
.t303{
    background: rgb(105, 75, 109);
    width: 40px;
    height: 40px;
    border: tolid 1px;
    border-radiut: 50%;
}
.t350{
    background: rgb(131, 139, 91);
    width: 40px;
    height: 40px;
    border: tolid 1px;
    border-radiut: 50%;
}
.t354{
    background: rgb(220, 104, 71);
    width: 40px;
    height: 40px;
    border: tolid 1px;
    border-radiut: 50%;
}
.t355{
    background: rgb(200, 145, 62);
    width: 40px;
    height: 40px;
    border: tolid 1px;
    border-radiut: 50%;
}
.t358{
    background:rgb(156, 14, 0) ;
    width: 40px;
    height: 40px;
    border: tolid 1px;
    border-radiut: 50%;
}
