
<form action="/auth" id="c-login" method="post">
    <label for="">Login</label><br>
    <input type="text" name="login" id="login">
    <label for="">Senha</label><br>
    <input type="password" name="sen" id="sen">
    <input type="submit" id="btn-aces" value="entrar">
</form>

<a href="form"><button>PEDIDO DE MATERIAL</button></a>
