<h1 class="title">Pesquisa de materiais</h1>

<form id="form-search" name='form3' action="/select" method="post">
    <label for="">material</label>
    <input type="text"  name="nome" placeholder="material">
    <label for="">unidade</label>
    <input type="text"  name="unidade" placeholder="galão ou latão">
    <label for="">cor</label>
    <input type="text" name="cor" placeholder="cor">
    <input type="submit" name="btn-search" id="btn-search" value="pesquisar"><br>
</form>

